:root {
    --white: rgb(255, 255, 255);
    --white-opacity: rgb(255, 255, 255, 0.8);
    --black: rgb(0, 0, 0);
    --black-opacity: rgba(0, 0, 0, 0.5);
    --pink: rgb(218, 168, 168);
    --pink-opacity: rgba(218, 168, 168, 0.5);
    --gray: rgb(245, 247, 251);
    --button-pink: rgb(217, 175, 175);
    --card-pink: rgb(240, 217, 220);
    --card-gray: rgb(132, 150, 156);
    --border-pink: rgb(234, 197, 200);
    --slider-background: rgb(242, 247, 250);
    --connect-background: rgb(235, 235, 235);
    --error: rgb(227, 11, 11);

    --font-size: 16px;
}
